@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: gray;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: #101010;
  color: #fff;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.navbar .logo {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

#nav-id {
  margin-top: 7px;
  background: #101010da;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding: 0rem 0.5rem;
  border-radius: 6px;
  /* border: 2px solid white; */
}

.nav-links a:hover {
  /* border: 1px solid white; */
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 188, 212, 0.5);
  transition: all 0.4s ease;
}

input[type="checkbox"] {
  visibility: hidden;
  cursor: pointer;
}

.clicker {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 600;
}

.hamburger span {
  background: #fff;
  height: 3px;
  width: 30px;
  margin: 4px;
  border-radius: 5px;
  transition: all 0.3s ease;
}


/* Hamburger Animation */
input[type="checkbox"]:checked+.hamburger .top {
  transform: rotate(-45deg);
  transform-origin: right;
}

input[type="checkbox"]:checked+.hamburger .middle {
  opacity: 0;
}

input[type="checkbox"]:checked+.hamburger .bottom {
  transform: rotate(45deg);
  transform-origin: right;
}

input[type="checkbox"]:checked~.nav-links {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  left: 0;
  max-width: 85%;
  background-color: #333;
  padding: 1rem;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 4rem;
  background: #101010;
  color: #fff;
  height: auto;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.welcome-text {
  flex: 1;
  text-align: left;
}

.welcome-text h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.welcome-text h2 {
  font-size: 2rem;
  color: #00bcd4;
  font-family: "Poppins", sans-serif;
}

.welcome-text h3 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}

.welcome-text .highlight {
  color: #00bcd4;
}

.welcome-text p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-family: "Baloo Bhai 2", sans-serif;
}

.welcome-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #00bcd4;
  box-shadow: 0px 0px 70px 10px #00bbd480;
  transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.welcome-image img:hover {
  transform: scale(1.1);
  transition: all 1s ease;
  transform: scale(1.1);
  box-shadow: 0 8px 50px rgba(0, 188, 212, 0.8);
}

/* Social Icons in Welcome Section */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.social-icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #00bcd4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.social-icons a:hover {
  transform: scale(1.2) rotate(10deg);
  box-shadow: 0 8px 20px rgba(0, 188, 212, 0.8);
}

.social-icons img {
  width: 25px;
  height: 25px;
  filter: brightness(0) invert(1);
}

/* About Section */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: #101010;
  color: #fff;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.8;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00bcd4;
  font-family: "Poppins", sans-serif;
}

.about-paragraph {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 1.6rem;
}

.about-paragraph img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: 5px solid #00bcd4;
}

/* About Section Flip Effect */
.about-paragraph {
  position: relative;
  perspective: 1000px;
}

.about-image {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  cursor: pointer;
}

.about-image:hover {
  transform: rotateY(180deg);
}

.about-image img {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: 5px solid #00bcd4;
}

.about-image .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00bcd4;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  backface-visibility: hidden;
  border-radius: 50%;
  transform: rotateY(180deg);
}

.about-paragraph span {
  flex: 1;
}

/* Projects Section */
.projects-section {
  padding: 4rem 2rem;
  background-color: #101010;
  color: #fff;
}

.projects-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.projects-content h2 {
  font-size: 2.5rem;
  color: #00bcd4;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;

}

.section-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc;
  font-family: "Poppins", sans-serif;

}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

/* Individual Project Card */
.project-card {
  background: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 188, 212, 0.5);
}


.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-info {
  padding: 1.5rem;
}

.project-info h3 {
  font-size: 1.5rem;
  color: #00bcd4;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;

}

.project-info p {
  font-size: 1.2rem;
  color: #ddd;
  font-family: "Baloo Bhai 2", sans-serif;
}

/* Footer Section */
footer {
  padding: 2rem;
  background: #101010;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.contact-form button {
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #0398ac;
}

.contact-image {
  flex: 0.5;
  min-width: 300px;
}

.contact-image img {
  border-radius: 10px;
}

/* Social Media Icons */
.social-icons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #00bcd4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
  background: #0398ac;
}

.social-icons img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-left {
  opacity: 0;
  animation: fadeLeft 1s ease-out forwards;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-right {
  opacity: 0;
  animation: fadeRight 1s ease-out forwards;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {

  .nav-links {
    display: none;
    gap: 1px;
  }

  .hamburger {
    display: flex;
  }

  .navbar {
    padding: 1rem 1rem;
  }

  .welcome-section {
    flex-direction: column;
    text-align: center;
  }

  .welcome-content {
    flex-direction: column;
    gap: 1rem;
  }

  .welcome-text {
    text-align: center;
  }

  .social-icons {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .social-icons a {
    width: 40px;
    height: 40px;
  }

  .social-icons img {
    width: 20px;
    height: 20px;
  }

  .welcome-image img {
    width: 200px;
    height: 200px;
  }

  .about-paragraph {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-paragraph img {
    margin-bottom: 1rem;
    width: 200px;
  }

  .projects-content h2 {
    font-size: 2rem;
  }

  .project-cards {
    grid-template-columns: 1fr;
  }

  .project-info p {
    font-size: 0.9rem;
    font-size: 1.3rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-image img {
    width: 100%;
  }
}
